<li>
  <article class="animal_snippet">
    <!-- Animal Image -->
    <img src="{{ animal.data.image  }}" class="animal_snippet__image" alt="{{ animal.data.image  }}">

    <!-- Animal Name -->
    <h2 class="animal_snippet__title"> {{ animal.data.name }} </h2>
    <!-- Animal Details -->
    <p class="animal_snippet__details"><strong>Age:</strong> {{ animal.data.ageYears }} Year(s) {{ animal.data.ageMonths }} Month(s)</p>
    <p class="animal_snippet__details"><strong>Gender:</strong> {{ animal.data.gender }}</p>
    <p class="animal_snippet__details"><strong>Breed:</strong> {{ animal.data.breed }}</p>
    <p class="animal_snippet__details"><strong>Weight:</strong> {{ animal.data.weight }}</p>
    <p class="animal_snippet__details"><strong>Status:</strong> {{ animal.data.status }}</p>

    <!-- Buttons -->
    <a href="{{ animal.url }}" class="btn btn--primary">More Info</a>
  </article>
</li>
