---
layout: 'base.njk'
---

<article class="main-animal">
  <div class="container container--narrow flow">
    <figure class="main-animal__figure">
      <img src="{{ image }}" alt="{{ imgAlt }}">
    </figure>
    <h1 class="animal-title">{{ name }}</h1>
    <div class="animal-details">
      <p><strong>Age:</strong> {{ ageYears}} Year(s) {{ ageMonths}} Month(s)</p>
      <p><strong>Gender:</strong> {{ gender }}</p>
      <p><strong>Breed:</strong> {{ breed }}</p>
      <p><strong>Weight:</strong> {{ weight }}</p>
      <p><strong>Status:</strong> {{ status }}</p>
      <p><strong>Notes:</strong> {{ notes }}</p>
    </div>
    <section class="animal-description">
      <h2>About {{ name }}</h2>
      {{ content | safe }}
    </section>
  </div>
    <div class="animal-cta">
      <a href="/contact" class="btn btn--primary">Contact Us for Adoption</a>
    </div>
</article>