<header class="page-header">
  <div class="container">
    <div
      class="page-header__content">
      <!-- <div class="logo">
      
      </div> -->
      <nav class="navbar">
        <nav class="grid-group">
          <div class="logo">
            <a href="/"><img src="https://res.cloudinary.com/dhvzkswkn/image/upload/v1734045374/CS-Logo_gtrx87.png" class= "logo-png" aria-label = "home page" alt= "
                canopy share pet rescue logo"> </a>
          </div>
         
          <div class="navbar-links">
            <ul role="list" class="nav-list flex-group">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/adopt/">Adopt</a>
              </li>
              <li>
                <a href="/petcare/">Pet Care</a>
              </li>
              <li>
                <a href="/volunteer/">Volunteer</a>
              </li>
              <li>
                <a href="/contact/">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </nav>
    </div>
  </div>
</header>