@use "./abstracts/variables";
@use "./base/reset";
@use "./base/typography";
@use "./components/_forms";


/* //////////////////////
  General styling
  /////////////////////// */

 html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

p {
  font-family: var(--ff-body);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct children of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}

/* //////////////////////
  Header
  /////////////////////// */


/* //////////////////////
  Footer
  (make it sticky)
  https://css-tricks.com/couple-takes-sticky-footer/
  /////////////////////// */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1 0 auto;
}

header,
.site-footer {
  flex-shrink: 0;
}

.site-footer {
  --logo-color: currentColor;
  padding: 0.4em 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */

h1 {
  font-weight: bold;
}

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-100);
  text-align: center;
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  h1.article-title {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    text-align: center;
    text-shadow: 2.5px -1px 3px rgba(0, 0, 0, 0.31);
    font-size: var(--fs-700);  
  }

  .main-article {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 0 10%;
  }
  
  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: 0.9;
  }

  .main-article img, picture {
    display: flex;
    max-width: 60%;
    justify-self: center;
    align-self: center;
    padding: 2rem;
  }

  @media screen and (max-width: 768px) {
    .main-article {
      margin-top: 5rem;
    }
  }
  
/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.snippet__title {
  grid-area: title;
}

.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-400);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
}

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
    text-align: left;
    
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}


/* //////////////////////
// Volunteer Page
/////////////////////// */
.volunteer-page {
  padding: 2rem 10%;

  h1 {
    font-size: var(--fs-700);
  }

  h1, h2 {
    color: var(--clr-primary-500);
    margin-bottom: 1rem;
    margin-top: 1rem;
    
  }

  .volunteer-roles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 0;

    .role {
      display: grid;
      grid-template-columns: 1fr 2fr; 
      gap: 2rem;
      align-items: center;
      background-color: var(--clr-primary-100);
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;

      .role__image-container {
        text-align: center;

        .role__image {
          width: 100%;
          max-width: 250px;
          border-radius: 8px;
          object-fit: cover;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
      }

      .role__content {
        h3 {
          color: var(--clr-primary-400);
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          margin-bottom: 1rem;
          line-height: 1.6;
        }

        ul {
          list-style-type: disc;
          margin-left: 1.5rem;

          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  /* CTA Section */
  .volunteer-cta {
    padding: 1.5rem 0;

    .btn {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      margin-top: 2rem;
      background-color: var(--clr-primary-400);
      color: white;
      border-radius: 5px;
      transition: background 0.3s;

      &:hover {
        background-color: var(--clr-neutral-100);
        color: var(--clr-neutral-900);
        font-weight: var(--fw-700);
        border: 2px solid var(--clr-neutral-900);
      }
    }
  }

  .volunteer-pictures {
    text-align: center;
  
    div {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      gap: 1.5rem; 
      flex-wrap: wrap; 
  
      .volunteer__image {
        max-width: 240px; 
        height: auto; 
        border-radius: 8px; 
        object-fit: cover; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.5);
          box-shadow: 0 0 20px rgba(49, 81, 30, 0.8); 
        }
      }
    }
  }
}

/* //////////////////////
// Responsive Design
/////////////////////// */
@media screen and (max-width: 768px) {
  html,
  body {
    margin-top: 5rem;
  }

  .volunteer-page {
    padding: 4rem 5%;

    .volunteer-roles .role {
      grid-template-columns: 1fr;
      align-items: center;
    }

    .role__image-container {
      display: flex;
      justify-content: center; 
    }

    .volunteer-pictures {
      div {
        gap: 1rem; 
      }
  
      .volunteer__image {
        width: 150px; 
      }
    }
  }
}

/* //////////////////////
   blog Page
/////////////////////// */
.blog-page {
  padding: 5% 10%;

  .articles__list {
    margin-top: 2rem;
  }

  h1 {
    padding-bottom: 0;
    font-size: var(--fs-700);
  }
}

/* //////////////////////
  Adopt page
  /////////////////////// */
  
  .adopt-page {
    padding: 2rem 10%;

    h1 {
      font-size: var(--fs-700);
    }

    h1, h2 {
      color: var(--clr-primary-500);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    p {
      font-size: var(--fs-400);
    }
      
    .section-title {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .animal_list {
      display: flex;
      gap: 2rem;
      padding: 0;
      margin: 2rem;
  
      .animal_snippet {
        background-color: var(--clr-primary-100);
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.758);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
        
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 4px 20px rgba(49, 81, 30, 0.912); 
        }
  
        &__image {
          width: 100%;
          max-width: 200px;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 1rem;
          align-self: center;
        }
  
        &__title {
          font-size: var(--fs-500);
          font-weight: var(--fw-700);
          margin-bottom: 0.5rem;
          text-align: center;
        }
  
        &__details {
          font-size: var(--fs-400);
          margin: 0.25rem 0;
          text-align: left;
  
          strong {
            color: var(--clr-neutral-900);
            font-weight: bold;
          }
        }
  
        .btn {
          display: flex;
          padding: 0.75rem 1.5rem;
          background-color: var(--clr-primary-400);
          color: var(--clr-neutral-100);
          border-radius: 8px;
          font-weight: var(--fw-700);
          margin-top: 1rem;
          text-decoration: none;
          transition: background-color 0.3s ease;
          align-self: center;
  
          &:hover {
            background-color: var(--clr-primary-500);
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      h1 {
        font-size: var(--fs-600);
      }
    }
  }

  

  /* //////////////////////
  Individual animal page
  /////////////////////// */
  
  .main-animal {
    padding: 5% 10%;

    h1 {
      color: var(--clr-primary-500);
      margin-bottom: 1rem;
      margin-top: 1rem;
      text-align: center;
      text-shadow: 2.5px -1px 3px rgba(0, 0, 0, 0.31);
      font-size: var(--fs-700);  
    }

    h2 {
      margin-bottom: 1rem;
    }
  
    img, picture {
      display: flex;
      max-width: 40%;
      justify-self: center;
      border-radius: 10%;
    }

    .animal-details {

      p {
        line-height: 2;
      }
    }

    .animal-description {
      padding: 0;
      margin-bottom: 2rem;

      p {
      line-height: 1.5;
      }
    }
    @media screen and (max-width: 768px) {
      .main-animal {
        margin-top: 5rem;

        .main-animal img, picture {
          max-width: 100%;
          border-radius: 10%;
        }
      }
    }
  }