---
title: "Adopt Page"
layout: "base.njk"
---

<div class="adopt-page">
  <h1 class="section-title">Meet Our Adoptable Pets</h1>
  <p>Browse through our list of adorable animals looking for their forever home. Filter by category to find your perfect match!</p>

  <!-- Animal Cards List -->
  <ul role="list" class="Animal__List">
    {%- for animal in collections.animal| reverse -%}
    {% include 'animal-snippet.njk' %}
    {%- endfor -%}
  </ul>
</div>
