---
title: "Adopt Page"
layout: "base.njk"
---

<div class="adopt-page">
  <h1 class="section-title">Meet Our Adoptable Pets</h1>
  <p>Explore our wonderful animals, each hoping to find a loving forever home where they can share their warmth and companionship.</p>

  <!-- Animal Cards List -->
  <ul role="list" class="animal_list">
    {%- for animal in collections.animal| reverse -%}
    {% include 'animal-snippet.njk' %}
    {%- endfor -%}
  </ul>
</div>
